.table th, .table td { 
     border: none; 
 }
 
label {
	color:green;
}

#map-canvas {
        height: 280px;
        width:380px;
        margin: 0px;
        padding: 0px
}

#pac-input {
background-color: #fff;
padding: 0 11px 0 13px;
width: 200px;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
text-overflow: ellipsis;
}

#pac-input:focus {
border-color: #4d90fe;
margin-left: -1px;
padding-left: 14px;  /* Regular padding-left + 1. */
width: 201px;
}

#pac-input .notfound {
border-color: #e86850;
margin-left: -1px;
padding-left: 14px;
width: 401px;
}

#map-event {
        height: 260px;
        width:370px;
        margin: 0px;
        padding: 0px
}

#pac-input1 {
background-color: #fff;
padding: 0 11px 0 13px;
width: 200px;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
text-overflow: ellipsis;
}

#pac-input1:focus {
border-color: #4d90fe;
margin-left: -1px;
padding-left: 14px;  /* Regular padding-left + 1. */
width: 201px;
}

#pac-input1 .notfound {
border-color: #e86850;
margin-left: -1px;
padding-left: 14px;
width: 401px;
}
