{% extends	"webapp/register_login.html" %}

{% block header %}
<meta charset="utf-8">
<title>Sportifier</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->

<!-- bootstrap -->
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">      
<link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">		
<link href="/static/themes/css/bootstrappage.css" rel="stylesheet"/>

<!-- global styles -->
<link href="/static/themes/css/main.css" rel="stylesheet"/>
<link href="/static/themes/css/jquery.fancybox.css" rel="stylesheet"/>
<link href="/static/themes/css/myvcss.css" rel="stylesheet"/>
		
<!-- scripts -->
<script src="/static/themes/js/jquery-1.7.2.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>				
<script src="/static/themes/js/superfish.js"></script>	
<script src="/static/themes/js/jquery.scrolltotop.js"></script>
<script src="/static/themes/js/jquery.fancybox.js"></script>
<script src="/static/themes/js/jquery.fancybox.js"></script>
<script src="/static/themes/js/addfriend.js"></script>
<script src="/static/themes/js/common.js"></script>
<script>
	$(function () {
		$('#myTab a:first').tab('show');
		$('#myTab a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		})
	})
	$(document).ready(function() {
		$('.thumbnail').fancybox({
			openEffect  : 'none',
			closeEffect : 'none'
		});
		
		$('#myCarousel-2').carousel({
			interval: 2500
		});								
	});
</script>
<!--[if lt IE 9]>			
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script src="js/respond.min.js"></script>
<![endif]-->
{% endblock %}

{% block menu %}
<section class="navbar main-menu">
	<div class="navbar-inner main-menu">				
		<a href="#" class="logo pull-left"><img src="/static/themes/images/logo.png" style="max-width: 45%;" class="site_logo" alt=""></a>
		<nav id="menu" class="pull-right">
			<ul>
				<li><a href="/">Events</a>
				</li>															
				<li><a href="/userprofile/{{ username}}">User profile</a></li>			
				<li class="active"><a href="#">privacy settings</a>
				</li>							
				<li><a href="/logout">Sign out</a></li>
			</ul>
		</nav>
	</div>
</section>
{% endblock %}			

{% block main_content %}
<section class="main-content">				
	<div class="container">
		<div class="row">
			<div class="span4 offset4 well" style="margin-top:50px">
				<legend>Password Reset</legend>
				{% if errors %}
				{% for error in errors %}
				<div class="alert alert-error">
					<p class="close" data-dismiss="alert" href="#">×</p>{{ error }}
				</div>
				{% endfor %}
				{% endif %}
				<form method="post" action="" accept-charset="UTF-8" style="margin-left:30px">
				<input type="password" class="span4" name="curpassword" placeholder="Current Password">
				<input type="password" class="span4" name="newpassword" placeholder="New Password">
				<input type="password" class="span4" name="comfirmpassword" placeholder="Verify Password">
				
				<button type="submit" name="submit" class="btn btn-info ">Save Changes</button>
				{% csrf_token %}
				</form>    
			</div>
		</div>
	</div>	
</section>	
{% endblock %}

{% block footer %}
<section id="footer-bar">
	<div class="row">
		<div class="span5 offset4">
			<p class="logo"><img src="/static/themes/images/logo.png" class="site_logo" alt=""></p>
			<p>Welcome to Sportifiers! Here you could either post a university sports event or find your interested one.</p>
				
			<p>Hanging out with your best friends is always the lowest price! </p>
			<br/>
		</div>
	</div>
</section>

<section id="copyright">
	<p>Copyright 2013 Sportifiers  All right reserved.</p>
</section>
{% endblock %}
